body{
  font-family: $font-family-sans-serif
}

.question{
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.question-btn{
  font-size: 1.5em;
  border-radius: 40px;
}

.question-select{
  border-radius: 40px;
  width: 70%;
}