body{
  font-family: $font-family-sans-serif
}

.dropdown-toggle::after{
  display: none!important;
}

.v-select{
  background-color: white;
  border-radius: 10px;
}

.v-select .dropdown-toggle {
  border: none!important;
}

.btn{
  font-size: 1.5em;
  border-radius: 40px;
}

.question{
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.challenge{
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.question-btn{
  width: 50%;
}

.yes-no-btn{
  width: 30%;
}

.question-select{
  border-radius: 40px;
  width: 70%;
}

