body{
  font-family: $font-family-sans-serif;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1{
  font-size: 24px;
}

p{
  font-size: 24px;
  line-height: 30px;
}

.dropdown-toggle::after{
  display: none!important;
}

.v-select{
  background-color: white;
  border-radius: 40px;
  .dropdown-toggle {
    border: none!important;
  }
}

.dropdown {
  font-size: 1.5em;
  padding-left: 10px;
  ul {
    border-radius: 20px!important;
  }
}

#meat .selected-tag {
  color: #5A5C84;
}

#car .selected-tag {
  color: #44999E;
}

#shower .selected-tag {
  color: #6AAD80;
}

.vue-slider{
  background-color: white!important;
}

.vue-slider-tooltip{
  border: 1px solid rgb(233, 149, 110)!important;
  background-color: rgb(233, 149, 110)!important;
}

.vue-slider-process{
  background-color: rgb(233, 149, 110)!important;
}

.number-input {

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-input__input {
    color: #6AAD80;
    text-align: center;
  }

  .number-input__button--plus::before{
    background-color: #6AAD80;
  }

  width: 70%;
  margin: 0 auto;

}

.btn{
  font-size: 1.5em;
  border-radius: 40px;
}

.question{
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.challenge{
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
}

.question-btn{
  width: 50%;
}

.yes-no-btn{
  width: 30%;
}

.question-select{
  border-radius: 40px;
  width: 70%;
}

